@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html, body{
    background-color: #F9C74F;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

.profile-picture{
    width: 350px;
    height: 350px;

    border-radius: 5%;
}

.name-title, .job-title, .fab{
    color: #343a40;
}

.name-title{
    font-size: 110px;
    font-weight: 500;
}

.job-title{
    font-size: 2.7rem;
}

p{
    color: rgb(61, 59, 59);
    font-size: 1.4rem;
    font-weight: 300;
}

.fab{
    font-size: 3rem;
    transition: all 0.5s;
}

.fab:hover{
    color: #54575B;
}

.fa-linkedin-in, .fa-github{
    padding-right: 1rem;
}

.fa-github, .fa-envelope{
    padding-left: 1rem;
}

/* Transition to show and hide the mail */
.hidden {
    opacity: 0;
    -webkit-transition:   0.5s ease;
    -moz-transition:  0.5s ease;
    -ms-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;
    transition-delay:0.2s;
}
  
.visible {
    opacity: 1;
    -webkit-transition:   0.5s ease;
    -moz-transition:  0.5s ease;
    -ms-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;
    transition-delay:0.2s;
}

/* Mobile breakpoint */
@media (max-width: 575px) {
    .name-title{
        font-size: 4.1rem;
    }
    
    .job-title{
        font-size: 2.2rem;
    }

    .profile-picture{
        width: 200px;
        height: 200px;
    }  
}
