#card{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    overflow: hidden;
    width: 200px;
    height: auto;
    -webkit-box-shadow: 17px 18px 47px -8px rgba(0,0,0,0.42); 
    box-shadow: 17px 18px 47px -8px rgba(0,0,0,0.42);

    transition: all 1s;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.card_top{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card_img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

h1, i{
    text-align: center;
}

footer{
    font-size: 29px;
    text-align: center;
}

h1, p, i{
    color: blanchedalmond;
}

p, i{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

#card:hover{
    width: 500px;
    border-radius: 4%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 575.98px;  
    } 

    #card{
        align-self: center;
        width: 275px;
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 767.98px;
    } 
}